.social-login
    button.social-login--github
        span
            i.fab.fa-github 
        |Continue with Github
    button.social-login--facebook
        span
            i.fab.fa-facebook 
        |Continue with Facebook 
        //- | 표시는 뒤에 들어간 것들을 text로 바꿔줌